<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Fastify Socket Demo</title>
  </head>
  <body>
    <h1>Socket Example</h1>
    <p id="messages"></p>
    <table id="maintable" style="width: 100%; height: auto">
      <th>
        <tr>
          <td>Timestamp</td>
          <td>Data</td>
        </tr>
      </th>
    </table>
    <script>
      (function () {
        let batches = 0;
        const messages = document.querySelector("#messages");
        const table = document.querySelector("#maintable");
        function showMessage(message, append = true) {
          if (append) {
            messages.textContent += `\n${message}`;
            messages.scrollTop = messages.scrollHeight;
          } else {
            message.textContent = `\n${message}`;
          }
        }
        showMessage("connecting");
        let ws = new WebSocket("ws://localhost:3000/emit-data");
        ws.onerror = ws.onopen = ws.onclose = null;
        ws.onerror = function () {
          showMessage("WebSocket error");
        };
        ws.onopen = function () {
          showMessage("WebSocket connection established");
        };
        ws.onclose = function () {
          showMessage("WebSocket connection closed");
          ws = null;
        };
        ws.onmessage = function (message) {
          const data = JSON.parse(message.data);
          console.log(data);
          if (Array.isArray(data) && data.length > 0) {
            batches += 0;
            showMessage(`received batch ${batches}`, false);
            for (let d of data) {
              const users = d.users.map((user) => {
                return `Name: ${user.name}  Origin: ${user.origin}  userestination: ${user.destination}<br/>`;
              });
              const receivedAt = `${d.date.hour}:${d.date.minute}:${d.date.second}`;
              const element1 = document.createElement("p")
              element1.innerHTML = users
              const boldElement = document.createElement("b");
              boldElement.innerHTML = receivedAt
              const td1 = document.createElement("td");
              const td2 = document.createElement("td");
              td1.appendChild(boldElement);
              td2.appendChild(element1);
              const tr = document.createElement("tr");
              tr.appendChild(td1);
              tr.appendChild(td2);
              table.appendChild(tr);
            }
          }
        };
        if (!ws) {
          showMessage("No WebSocket connection");
          return;
        }
      })();
    </script>
  </body>
</html>
